
debug_mode: true
raw_log: 'matahari.log'

twitter:
  username: 'demo'
  password: 'demo'

spymaster:  
  urls:
    prefix: "http://playspymaster.com"
    home: "/"
    tasks: "/tasks"
    tasks_perform: "/tasks/perform"
    simplekey: "/simplekey"
    